*{
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}


body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 0;
   box-sizing: border-box;
   padding: 0%;
}
h1{font-size: 3.2em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
   font-size: 1.5em;
   font-weight: bold;
   padding: 10px 30px;
   border-radius: 10px;
   border: 1px solid rgb(0,0,0,0.5);
   box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
   color: white;
   background-color: rgb(87, 82, 240);
}
button:hover{
   background-color: rgb(50, 46, 157);
}

.container{
   max-width: 1400px;
   margin: auto;
}

.color-acento{color: rgb(87,82,240);}

header{
   background-color: rgb(230, 230, 230);
}

header .logo{
   margin: 0;
   padding: 20px 30px;
   font-weight: bold;
   color: rgb(87,82,240);
   font-size: 1.6em;
}

header .container{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

header .nav{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding-bottom: 500px;
}

header a{
   padding: 20px 30px 50px;
   text-decoration: none;
   font-weight: bold;
   color: black;
}

header a:hover{
   color: rgb(87,82,240);
}

#hero{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 90vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(/img/atardecercasa.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#hero h1{
   color: white;
}

#introduccion{
   background-color: whitesmoke;
}
#introduccion .container{
   text-align: center;
   padding: 200px 12px;

}

#trabajitos{
   background-color: rgb(30,30,30);
   color: whitesmoke;
   text-align: center;
}
#trabajitos .container{
   padding: 100px 10px;

}

#trabajitos h2{
   margin-top: 0;
   font-size: 4em;
}

#trabajitos p{
   display: none;
}

#trabajitos .carta{
   background-position: center center;
   background-size: cover;
   padding: 100px;
   margin: 60px;
   border-radius: 15px;
}

.carta:first-child{
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(/img/logo2.annymart2.jpg);
 
}
.carta:last-child{
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(/img/logo-macrame-simple.png);
  
}

#caracteristicas .container{
   text-align: center;
   padding: 200px 12px;
}
#caracteristicas li{
   margin: 20px 0px;
   font-weight: bold;
   list-style: none;
}

footer{
   background-color: rgb(230,230,230);
}

footer p{
   margin: 0;
   padding: 12px;
   color: rgb(100,100,100);
}
footer .container{
   height: 100px;
   display:flex;
   justify-content: center;
   align-items: flex-end;
}
/*estilo index 2*/
#misfotografias{
   background-color: rgb(111, 135, 201) ;
   color: whitesmoke;
   text-align: center;
}
#misfotografias .container{
   padding: 100px 10px;
}
#misfotografias h2{
   margin-top: 0;
   font-size: 4em;
}
#misfotografias p{
   display: none;
}
#misfotografias .caja{
   background-position: center center;
   background-size: cover;
   padding: 100px;
   margin: 50px;
   border-radius: 10px;
}

.caja:first-child{
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(/img/cya/cielo.pucon.jpg);
 
}
.caja:nth-child(2){
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(/img/f/portadafya.JPG);
  
}
.caja:last-child{
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(/img/p/portadaproyectos.JPG);
  
}

/*estilo index 3 4 5 6*/

.galeria{
   padding: 16px;
}

.imagen-principal img {
   width: 100%;
   object-fit: cover;
   display: block;

}

.lista-imagenes img{
   width: 100%;
   object-fit: cover;
   width: 80px;
   height: 80px;
   margin-right: 15px;
   
}

.lista-imagenes{
   display: flex;
   overflow-y: auto;
   margin-top: 10px;
}
